<component>
   <div class="ui form editor-container">
      <div class="field">
         <textarea class="editor" id="editor" placeholder="Start typing your notes here"></textarea>
      </div>
   </div>
   <div class="toolbar">
      <div class="ui icon buttons">
         <div class="ui icon button disabled" id="save">
            <i class="save icon"></i>
         </div>
         <div class="ui icon button disabled" id="hyperlink">
            <i class="linkify icon"></i>
         </div>
         <div class="ui icon button disabled" id="share">
            <i class="share alternate icon"></i>
         </div>
         <div class="ui red icon button disabled" id="delete">
            <i class="trash icon"></i>
         </div>
      </div>
   </div>
</component>