<component>
    <div class="ui card">
        <div class="content">
            <i class="right floated star icon"></i>
            <div class="header">{title}</div>
            <div class="meta">{subtitle}</div>
            <div class="description">
                <p></p>
            </div>
        </div>
        <div class="extra content">
            <span class="left floated calendar">
            <i class="calendar icon"></i>
            {timestamp}
            </span>
            <span class="right floated trash">
                <i class="trash icon"></i>
            </span>
            <span class="right floated share alternate">
                <i class="share alternate icon"></i>
            </span>
            <span class="right floated star">
                <i class="star icon"></i>
            </span>
        </div>
    </div>
</component>