.card:hover{
    cursor:pointer;
    box-shadow: 0 1px 1px 0 #6E44FF, 0 0 0 1px #6E44FF !important;
         transition: box-shadow 0.5s ease;
}

.card:hover .header {
    color: #6E44FF !important;
         transition: color 0.5s ease;
}