<component>
    <div class="ui top attached menu">
        <div class="ui dropdown icon item" id="notes">
            <i class="block layout icon"></i>          
        </div>
        <div class="ui dropdown icon item" id="new-file">
            <i class="sticky note icon"></i>          
        </div>
        <div class="ui dropdown icon item" id="sync">
            <i class="refresh icon"></i>          
        </div>
        <div class="item" id="title-text"></div>
        <div class="right menu">
            <div class="ui right aligned">
                <div class="ui dropdown icon item left-border" id="config">
                    <i class="settings icon"></i>          
                </div>
                <div class="ui dropdown icon item" id="account">
                    <i class="user icon"></i>          
                </div>
                <div class="ui dropdown icon item" id="tools">
                    <i class="options icon"></i>          
                </div>
                <div class="ui dropdown icon item" id="close">
                    <i class="ui close icon"></i>       
                </div>
            </div>
        </div>
    </div>
</component>